@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  --background-hex: #ffffff;
  --accent-hex: #00b4d8,
}

/* TODO: setup dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #ffffff;
    --background-hex: #003459;
  }
} */

html {
  height: 100%;
}

body {
  color: var(--foreground-hex);
  background-color: var(--background-hex);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
